<div id="main">

    <form action="./create" method="post">
        <label for="name">Name</label>
        <input type="text" id="item" name="item">
        <label for="name">Qty</label>
        <input type="text" id="qty" name="qty">
        <label for="name">Status</label>
        <input type="text" id="status" name="status">
        <label for="name">Size</label>
        <input type="text" id="size" name="size" size="30">


        <input type="submit" class="form-submit" value="Create">
    </form>

</div>